

h1 {
  color: $nadi-red-color;
  text-align: center;
  margin: 30px auto;
}









.ff h2 {
  text-transform: lowercase;
  margin-bottom: 24px;
  font-size: 36px;
}

p.list-of-links {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  a {
    font-style: italic;
  }
}

















